/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*----------------стили Bonfire---------------*/
body{
	background: #fff;
    font-family: 'Lato', sans-serif;
}
div.grey{
		background: #D9E1E6;	
}
.log-area{
    margin-top: 37px;
}
p.top{
	color: #868f93;
    font-size: 10px;
}
span.close{
  color: #868f93;
}
.basket{
	border: 1px solid #DFD2AD
    font-size: 12px;
}
.logo{
	color: #000000;
}
.topnav{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 37px;
}
ul.topmenu li a{
	color: #000000;
    font-size: 12px;
}
main{
    margin-top: 48px;
}
.image{
    background: #e1e1e1;
}
.back-to-up{
    margin-top: 12px;
    font-size: 14px;
}
.back-to{
    color: #555555;
}
.woman{
    color: #68899a;
}
.name{
	color: #111111;
    margin-top: 45px;
    font-size: 24px;
    font-weight: bold;
}
.top-review{
    margin-top: 25px;
    margin-bottom: 30px;
}
.review{
    color: #111111;
    font-size: 12px;
}
.dat-top{
    margin-top: 32px;
    margin-bottom: 35px;
    font-size: 14px;
}
.price{
	color: #69889C;
    font-size: 24px;
    font-weight: bold;
}
.dat-term{
    color: #111111;
}
.dat-des{
    color: #68899a;
}
.desc{
	color: #555555;
    font-size: 14px;
}
.spon{
    margin-top: 32px;
    margin-bottom: 40px;
    font-size: 14px;
}
.spon-next{
    list-style: disc;
    margin-left: 20px;
    color: #555555;
}
.select{
    border: 1px solid #e1e1e1;
}
.reset-but{
    color: #111111;
    border: none;
    background: #ffffff;
    text-decoration: underline;
    margin-top: 40px;
    font-size: 12px;
}
.add-cart{
	background: #111111;
	color: #ffffff;
    border: 1px solid #111111;
    font-size: 12px;
    font-weight: bold;

}
.add-to{
	color: #000000;
    background: #ffffff;
	border: 1px solid #e1e1e1;
    font-size: 12px;
    font-weight: bold;
}
.share{
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-top: 38px;
    
}
.label-network{
    font-size: 12px;
    font-weight: bold;
}
.text-foot{
	color: #b5b5b5;
    border-top: 1px solid #e1e1e1;
    padding-top: 30px; /*не удержался и задал один малюсенький паддинг))) */
    font-size: 13px;
}
.head{
	color: #111111;
    font-size: 14px;
    font-weight: bold;
}
footer{
    margin-top: 100px;
}




/*Бургер меню*/
.menu-btn {
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}
.menu-btn span,
.menu-btn span::before,
.menu-btn span::after {
  position: absolute;
  top: 50%; margin-top: -1px;
  left: 50%; margin-left: -7px;
  width: 14px;
  height: 2px;
  background-color: #000000;
}
.menu-btn span::before,
.menu-btn span::after {
  content: '';
  display: block;
  transition: 0.2s;
}
.menu-btn span::before {
  transform: translateY(-5px);
}
.menu-btn span::after {
  transform: translateY(5px);
}